extends layout

block content
  form(action='/api', method='POST')
    | Input ingredient:
    br
    input(type='text', name='ingredient', id='ing', value='enter an ingredient')
    br
    input(type='submit', value='Submit')
  h1= title
  p Welcome to #{title}
  script.
    getData();
    async function getData() {
      const response = await fetch(`/api`);
      const data = await response.json();
      console.log(data)
    }

