extends layout

block content
  head
    nav
      ul
        li
          a(href='/auth/logout') Logout
        li
          a(href='/auth/login') Login
        li
          a(href='/') Homepage
  form(action='/saveing', method='POST')
    | Input ingredient:
    br
    input(type='text', name='pantry', id='pantry', placeholder='Enter an ingredient')
    br
    input(type='submit', value='Submit')

  form(action='/recipes', method='GET')
    br
    input(type='submit', value='Get Recipes!')



